extends ../layout_map

block content  

  .top-container.col-xl-4.col-lg-6.col-md-12.col-xs-12.mx-auto

    h4 Benutzer*in Einladen
    hr
    form(id='invite-form' method='POST' action="/invite")
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-md-12.control-label(for='email') E-Mailadresse
        .col-md-12
          input.form-control(type='email', name='email', id='email', placeholder=' E-Mailadresse', autofocus, autocomplete='email', required)
      .form-group.col-md-12
        button.btn.btn-success(type='submit')
          i.fas.fa-user-plus.fa-sm
          | &nbsp;
          | Einladung Senden
          