extends ../layout_map

block content  

  .top-container.col-xl-4.col-lg-6.col-md-12.col-xs-12.mx-auto
    include ../partials/flash_page
    h3 Passwort zurücksetzen
    form(method='POST' role="form")
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-md-12.control-label(for='password') Neues Passwort
        .col-md-12
          input.form-control(type='password', name='password', id='password', placeholder='Neues Passwort', autocomplete='new-password', required)
      .form-group
        label.col-md-12.control-label(for='confirmPassword') Passwort Wiederholen
        .col-md-12
          input.form-control(type='password', name='confirm', id='confirm', placeholder='Passwort Wiederholen', autocomplete='new-password', required)
      .form-group.col-md-12
        button.btn.btn-success(type='submit')
          i.fas.fa-keyboard.fa-sm
          | &nbsp;
          | Password Ändern
