
if messages.errors || messages.info || messages.success  
  if messages.errors
    div(id="flash_messages" style="visibility:hidden; position:absolute;" message-type="danger")
      .fade.show.flash-message
        for error in messages.errors
          h6= error.msg
  if messages.info
    div(id="flash_messages" style="visibility:hidden; position:absolute;" message-type="info")
      .fade.show.flash-message
        for info in messages.info
          h6= info.msg
  if messages.success
    div(id="flash_messages" style="visibility:hidden; position:absolute;" message-type="success")    
      .fade.show.flash-message
        for success in messages.success
          h6= success.msg
