.navbar.navbar-light.navbar-expand-lg
  .container
    a.navbar-brand(href='/')
      img(src="/favicon.png" width="24")
      |  TT-Platte
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Karte') ? 'active' : undefined)
          a.nav-link(href='/') Karte      
        li.nav-item(class=(title === 'Über') ? 'active' : undefined)
          a.nav-link(href='/about') Über uns
        li.nav-item(class=(title === 'Kontakt') ? 'active' : undefined)
          a.nav-link(href='/contact') Kontakt
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
        else
          li.dropdown(class=(title === 'Profil') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li.dropdown-item(class=(title === 'Profil') ? 'active' : undefined)
                a(href='/account/profile') Profil
              if (user.is_admin)
                li.dropdown-item(class=(title === 'Benutzer*in Einladen') ? 'active' : undefined)
                  a(href='/invite') Einladen
              li.dropdown-item
                a(href='/logout') Logout
