extends layout_map

block content  

  .top-container.col-xl-4.col-lg-6.col-md-12.col-xs-12.mx-auto
    h4 About
    hr
    p TT-Platte ist eine Plattform von Freifluftplattenenthusiast*innen für Freiluftplattenenthusiast*innen! Wir freuen uns über neue Tische, eure Bewertungen und euer Feedback!
