extends layout_map

block content  

  .top-container.col-xl-4.col-lg-6.col-md-12.col-xs-12.mx-auto
    h4 Über TT-Platte
    hr
    p TT-Platte ist eine Plattform von Freifluftplattenenthusiast*innen für Freiluftplattenenthusiast*innen! Wir freuen uns über neue Tische, eure Bewertungen und euer Feedback! 
    p Falls du selbst Tische hinzufügen, fotografieren oder bewerten magst, schick uns eine #[a(href="/contact") Anfrage] mit einer kurzen Bescheibung von dir und wir machen dich zum*zur Betatester*in. 
