extends layout_map

block content  

  .top-container.col-md-3.col-sm-6.col-xs-12.mx-auto
    h4 About
    hr
    p TT-Platte ist eine Plattform von Freifluftplattenenthusiast*innen für Freiluftplattenenthusiast*innen! Wir freuen uns über neue Tische, eure Bewertungen und euer Feedback!
