@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/leaflet-sidebar/src/L.Control.Sidebar.scss";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 14px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
  display: block;
  z-index: 1001;
}

.navbar-brand{
  font-size: 18px;
  float: left;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

/*
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}



// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

a.btn.btn-success, a.btn.btn-block {
  color: white !important;
}


// Basic Snapchat Button CSS
.btn-snapchat {
  background-color: #f4d142;
  color: #000 !important;

  &:hover, &:active {
    background-color: #f1ef00;
  }
}


#map {
  height: 400px;
  width: 100%;
}

.bottom-area {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    transition: left 200ms cubic-bezier(0.0,0.0,0.2,1);
}

.control-pane{
  border-radius: 12px;
  box-shadow: 0 3px 14px #888, inset 0 0 0 #000;  
  border: 1px;
  padding-top: 15px !important;
}

.error-pane{
  border-radius: 12px;
  box-shadow: 0 3px 14px #888, inset 0 0 0 #000;  
  border: 1px;
  padding-right: 15px !important;  
  color: white;
}
.popup-container {
  min-width: 400px;
}

p.button-spacer {
  min-height: 20px;
}

.carousel {
  margin-bottom: 10px;
}

span.carousel-control-prev-icon {
  color: #aaaaaa;
}
span.carousel-control-next-icon {
  color: #aaaaaa;
}

.star-rating-on{color: green;}
.star-rating-off{color: gray;}

.flash-message {
  margin: 10px;
  color: white;
}

.alert-success {
  background-color: #28a745;
}

.rating-container {
  margin-top:8px;
  margin-bottom: 15px;
}

span.rating-criteria-input {
   cursor: pointer;
}

.blurred {

    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    -webkit-transition: 2s -webkit-filter linear;
    -o-transition: 2s -o-filter linear;
}

.unblurred {
  -webkit-filter: blur(0px); 
  -moz-filter: blur(0px); 
  -o-filter: blur(0px); 
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.z-top {
  z-index: 1000;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center; 
  min-width: 100%;
}


.title-logo {
  max-width: 80vh;
  max-height: 80vh;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;  
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;  
}

.title-logo:hover {
  -webkit-filter: drop-shadow(0 0px 24px rgba(40, 167, 69, 0.5));
  filter: drop-shadow(0px 0px 24px rgba(40, 167, 69, 0.5));
}

.container {
    max-width: inherit;
    padding-right: 0px;
    padding-left: 0px;

}

.top-container {
  margin-top: 20px;
  align: center;
}

@media (min-width: 1200px) {
  .leaflet-sidebar {
      width: 550px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .leaflet-sidebar {
      width: 550px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .leaflet-sidebar {
      width: 550px;
  }
}

.leaflet-sidebar.right {
    right: -550px;
}

#sidebar{
  padding-top:20px;
}

.rating-criteria-container:hover span.rating-criteria-input {
  color: red;
}

.rating-criteria-container span.rating-criteria-input:hover ~ span.star-rating-on {
  color: green;
}

.rating-criteria-container span.rating-criteria-input:hover ~ span.star-rating-off {
  color: gray;
}

