extends ../layout_map

block content  
  - console.log('session place ' + JSON.stringify(session.place))
  div(id="map" class=(session.visited < 2?"blurred":"") data-place=JSON.stringify(session.place || config.places[0]))
  if (session.visited < 2)
    div.row.h-100.z-top(id="logo-overlay")
      img.title-logo(width="592" src="tt_logo_bunt.png")
  div(id="popup" class="ol-popup")
    a(href="#" id="popup-closer" class="ol-popup-closer")
    div(id="popup-content")

  #sidebar.sidebar.collapsed
  
  div.bottom-area